doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator', content='Jekyll v3.8.5')
    title Blog Proyecto
    // Bootstrap core CSS
    link(rel='stylesheet', href='app.css')
    link(rel='stylesheet', href='main.css')
    script(src='https://use.fontawesome.com/a8624161fd.js')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900', rel='stylesheet')
    // Custom styles for this template
  body
    div.blog-header
      header
        .flex-nowrap.justify-content-between.align-items-center 
          .text-center 
            a.blog-header-logo.text-center(href='/') Proyecto Verde
      
      div.nav-scroller.py-1.mb-2.bg-dark
        nav.nav.d-flex.justify-content-between.container
          a.p-2.text-white(href='/Cultura') Cultura ambiental y Desarrollo sustentable 
          a.p-2.text-white(href='/fisica') Fisica II
          a.p-2.text-white(href='/calculo') Calculo Diferencial
          a.p-2.text-white(href='/derecho') Nociones de Derecho
          a.p-2.text-white(href='/ingles') Ingles
          a.p-2.text-white(href='/artes') Artes 
          a.p-2.text-white(href='/optativas') Optativas

    div.container  
        section#arriba

        .container
          .row
            .col-md-8
              main#main-container
        
        

            aside.col-md-4.blog-sidebar
              div.p-4.mb-3.bg-light.rounded
                h4.font-italic About
                p.mb-0
                  | Etiam porta 
                  em sem malesuada magna
                  |  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
              div.p-4
                h4.font-italic M贸dulos
                ol.list-unstyled.mb-0
                  li
                    a(href='/') M贸dulo 1
                  li
                    a(href='/') M贸dulo 2
                  li
                    a(href='/') Modulo 3
                  li
                    a(href='/') M贸dulo 4

              div.p-4
                h4.font-italic Elsewhere
                ol.list-unstyled
                  li
                    a(href='#') GitHub
                  li
                    a(href='#') Twitter
                  li
                    a(href='#') 
                      i.fa.fa-facebook-official(aria-hidden='true')
                        |. Facebook

    footer.blog-footer
      p
        i.fa.fa-heart(aria-hidden='true') _Blog hecho por el mejor equipo del mundo_ 
        i.fa.fa-heart(aria-hidden='true')
      p
         a(href='/') volver al inicio
      script(src="app.js")
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")