doctype html
html(lang='en')
  head
    link(rel="stylesheet", href="preloader.css")
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator', content='Jekyll v3.8.5')
    title Blog Proyecto
    link(rel='stylesheet', href='app.css')
    link(rel='stylesheet', href='main.css')
    
    link(rel="stylesheet", href="animate.css")
    script(src='https://use.fontawesome.com/a8624161fd.js')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900', rel='stylesheet')
    // Custom styles
  body
    .blog-header
      header
        .flex-nowrap.justify-content-between.align-items-center
          .text-center
            a.blog-header-logo.text-center.wow.bounceInDown.d-none.d-xl-block(href='/' data-wow-delay="2s" data-wow-duration="2s") 
              .letritas
                span S
                span M
                span A
                span R
                span T
                span
                span T
                span R
                span A
                span F
                span I
                span C
            a.blog-header-logo2.text-center.wow.bounceInDown.d-xl-none(href='/'  data-wow-delay="3.5s" data-wow-duration="2s")
              .letritas
                span S
                span M
                span A
                span R
                span T
                span
                span T
                span R
                span A
                span F
                span I
                span C
      .nav-scroller.py-1.materias
        nav.nav.d-flex.justify-content-between.container.wow.fadeInLeftBig(data-wow-delay="1.5s")
          a.p-2.text-white(href='/Cultura') CULTURA AMBIENTAL
          a.p-2.text-white(href='/fisica') FISICA II
          a.p-2.text-white(href='/calculo') CALCULO DIFERENCIAL
          a.p-2.text-white(href='/derecho') NOCIONES DE DERECHO
          a.p-2.text-white(href='/ingles') INGLÉS
          a.p-2.text-white(href='/artes') ARTES
          a.p-2.text-white(href='/optativas') OPTATIVAS
    div#back
      .container#principal
        section#arriba
        .container
          .row
            .col-md-8
              main.wow.bounceInUp#main-container
            aside.col-md-4.blog-sidebar.wow.bounceInRight
              .p-4.m-3.bg-light.rounded
                div#about
              .p-4.text-center
                h4.font-italic Módulos
                ol.list-unstyled.mb-0
                  li
                    a(href='/') Módulo 1
                  li
                    a(href='/') Módulo 2
                  li
                    a(href='/') Modulo 3
                  li
                    a(href='/') Módulo 4
              .p-4.text-center
                .d-none.d-xl-block

                h4.font-italic.wow.flash(data-wow-duration="2s",data-wow-iteration="infinite") Contactanos
                  br
                  br
                ol.list-unstyled
                  li
                    a(href='http://web.uaemex.mx/PAngelMaGaribay/') 
                      img(src="escudo.png", width="50px", height="60px")
                      |. UAEMEX P5
                      br
                      br
                  li
                    a(href='#') 
                      i.fa.fa-instagram.fa-3x
                      |.  Instagram
                      br
                      br
                  li
                    a(href='#')
                      i.fa.fa-facebook-official.fa-3x
                      |.  Facebook
                  br
                  br
                  br
                  br
                  br
              div#plantas

    footer.blog-footer.new_footer_area
      .new_footer_top
        .footer_bg
          .footer_bg_one
          .footer_bg_two
      p
        i.fa.fa-heart(aria-hidden='true') _Blog hecho por el mejor equipo del mundo_ 
        i.fa.fa-heart(aria-hidden='true')
      p
        a(href='#') volver al inicio
      script(src="preloader.js")
      script(src='app.js')
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
      script(src="wow.js")
      script(src="scripts.js")